h1 {
	font-family:Helvetica;
	font-size:100px;
	font:weight:bold;
	color:khaki;
	text-align:horizontal;
	background-image:url("1.jpg");
	background-size:cover;
	
}
h2 {
	font-family:Helvetica;
	font-size:32px;
	font-weight:bold;
	color:white;
}
#one {
	background-color:mediumspringgreen;
}
#two {
	background-color:lightcoral;
}
#three {
	background-color: skyblue;
}
a {
	font-family: Helvetica;
	font-weight: bold;
	color:blue;
}